body{
    display: flex;
    justify-content: center;
}
img{
    width: auto;
    height: 100px;
}
.game{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    
}
.selection-container{
    display: flex;
    flex-direction: column;
}
.button-style{

}